@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;

}

h1, h2 {
    font-family: 'Permanent Marker', cursive;
    color: snow;
}

h1 {
    font-size: 3.75em;
    margin-bottom: 0;
    padding-top: 1em;
}

h2 {
    font-size: 2em;
}

img {
    max-width: 45%;
    width: 45%;
    height: auto;
    float: right;
    position: relative; 
    padding-top: 1.5em;   
}

p {
    font-size: 1em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.intro {
    background-image: url(/Code/Phase_0/projects/portfolio-website/Images/speech-bubble.png);
    background-repeat: no-repeat;
    background-size: 925px;
    background-position: 12% 0%;
    padding-top: 9em;
    padding-left: 10em;
    padding-bottom: 11.5em;
    padding-right: 10em;
    text-align: left;
}

#intro strong {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: larger;
}

#intro h2 {
    font-family: 'Merriweather', serif;
}
.background {
    background-color: azure;
    padding-bottom: 1em;
}

#background h2 {
    color: black;
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
}

#background p {
    color: black;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 1em;
}
.skills {
    color: white;
}

table, th, td {
    border: 1px solid white;
}

table {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    table-layout: fixed;
}

th {
    font-family: 'Permanent Marker', cursive;
    color: snow;
    font-size: 1.5em;
}

td {
    vertical-align: top;
}

#skills h2 {
    color: #fc1681;
    text-align: center;
    font-size: 3em;
    padding-top: 0em;
}
.education {
    background-image: url(/Code/Phase_0/projects/portfolio-website/Images/study-background.png);
    background-size: auto;
    background-attachment: fixed;
}

#education ul {
    list-style-image: url(/Code/Phase_0/projects/portfolio-website/Images/grad-hat.png);
    width: 30%;
    margin-left: 15%;
    padding-bottom: 3em;
    
}
#education h2 {
    color: black;
    text-align: left;
    text-indent: 15%;
    padding-top: 0.75em;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

.experience {
    position: relative;
    margin: 0;
    width: 100%;
    height: auto;
}

#experience {
    background-image: url(/Code/Phase_0/projects/portfolio-website/Images/experience-background.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
}


#experience h2 {
    color: #fc1681;
    text-indent: 60%;
    font-size: 3em;
    margin-top: 0%;
    padding-top: 0%;
}

#experience p {
    text-indent: 55%;
    color: white;
}
.portfolio {
    background-image: url(/Code/Phase_0/projects/portfolio-website/Images/coming-soon.gif);
    background-size: 300px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 350px;
}

#portfolio h2, p {
    color:#fc1681;
    text-align: center;
}

#footer {
    position: relative;
    color: white;
    padding-left: 10%;    
    float: left;
    width: 33%;
}

#footer strong {
    font-family: 'Permanent Marker', cursive;
    font-size: 3em;
}

#footer a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 1.5em;
    width: 33%;
    padding-bottom: 20px;
}