@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    color: snow;
}

h1 {
    font-size: 3.75em;
    margin-bottom: 0;
    padding-top: 1em;
}

h2 {
    font-size: 2em;
}

img {
    max-width: 45%;
    width: 45%;
    height: auto;
    float: right;
    
}

p {
    font-size: 1.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.intro {
    background-image: url(/Code/Phase_0/projects/portfolio-website/Images/speech-bubble.png);
    background-repeat: no-repeat;
    background-size: 925px;
    background-position: 12% 17%;
    padding-top: 8em;
    padding-left: 10em;
    padding-bottom: 11.8em;
    padding-right: 10em;
    text-align: left;
}

#intro strong {
    font-family: 'Permanent Marker', cursive;
    color: black;
    font-size: larger;
}
.headshot {
    
}
.background {
    background-color: azure;
    padding-bottom: 1em;
}

#background h2 {
    color: black;
    text-align: center;
    font-size: 3em;
    padding-top: 1em;
}

#background p {
    color: black;
    padding-left: 6em;
    padding-right: 6em;
    padding-bottom: 1em;
}
.skills {
    color: white;
}
.education {

}
.experience {

}
.portfolio {

}
.name {

}
.medium {

}
