@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&family=Montserrat&display=swap');

html, body {
    height: 100%;
    min-height: 100%;
}

body {
    background-color: black;
    font-family: 'Montserrat', sans-serif;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    color: snow;
}

h1 {
    font-size: 4em;
    margin-bottom: 0;
}

h2 {
    font-size: 2em;
    margin-top: 0.75em;
}

img {
    max-width: 45%;
    width: 45%;
    height: auto;
    float: right;
    
}

p {
    font-size: 1.5em;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.intro {

}

.headshot {

}
.background {

}
.skills {

}
.education {

}
.experience {

}
.portfolio {

}
.name {

}
.medium {

}
}